.App {
  text-align: center;
  height: 100%;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
@media (min-width: 600px) {
  .App-body {
    margin: 0;
  }
}

.App-body > .loading {
  opacity: 0.2;
}

.App-body > div > h2 {
  font-size: 14px;
  color: white;
}
@media (min-width: 600px) {
  .App-body > div > h2 {
    font-size: 17px;
  }
}

.App-body > div > p {
  color: white;
}

.App-body > div > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.App-body > div > form > div > input[type=text] {
  width: 30vh;
  height: 2.5vh;
  margin-right: 10px;
  font-size: 2vh;
  text-align: center;
}
