.forecast-view > button {
  width: 150px;
  height: 35px;
  border: 0;
  border-radius: 0 !important;
  background: #ebebeb;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
}
@media (min-width: 600px) {
  .forecast-view > button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.forecast-view > button:hover {
  cursor: pointer;
}

.forecast-view > h2 {
  font-size: 20px !important;
  margin-top: 20px;
}

.forecast-view > .mobile-divider {
  visibility: visible;
  height: 1px;
  width: 100%;
  background: white;
}
@media (min-width: 600px) {
  .forecast-view > .mobile-divider {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.forecast-cards-container {
  display: block;
}
@media (min-width: 600px) {
  .forecast-cards-container {
    display: inline-flex;
    width: 552px;
  }
}
