.forecast-hero-card {
  color: black;
  background: white;
  width: 80vw;
  height: 160px;
  margin: 25px auto 20px auto;
  border: 1px solid white;
  border-radius: 20px 20px 20px 0;
  box-shadow: -10px 10px 7px 0 #b2c1d9
}
@media (min-width: 600px) {
  .forecast-hero-card {
    width: 550px;
    margin: 25px auto 0 auto;
    border-bottom: none;
  }
}

.forecast-hero-card > .hero-date > p,
.forecast-hero-card > div > div > div > p {
  margin: 0;
}

.hero-date {
  font-weight: bold;
  padding: 7px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.desktop-container {
  display: none;
}
@media (min-width: 600px) {
  .desktop-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
  }
}

.weather > .desktop-container > .hero-divider {
  height: auto;
  width: 1px;
  background: black;
  margin: 0;
}

.desktop-container > .hero-info > h1 {
  margin: 0;
}

.desktop-container > .hero-info > p {
  width: 79px;
  font-size: 14px;
}
@media (min-width: 600px) {
  .desktop-container > .hero-info > p {
    width: 150px;
    font-size: 15px;
  }
}

.hero-info > .humidity {
  display: none;
}
@media (min-width: 600px) {
  .hero-info > .humidity {
    display: block;
  }
}

@media (min-width: 600px) {
  .weather > .desktop-container > .weather-glyph {
    margin-left: 55px;
    margin-right: 80px;
  }
}

.forecast-hero-card > div > div > div > img {
  width: 58px;
  height: 58px;
}
@media (min-width: 600px) {
  .forecast-hero-card > div > div > div > img {
    width: 45px;
    height: 45px;
  }
}

.hero-high-low {
  font-size: 14px;
}

.desktop-container > .hero-high-low {
  margin-right: 32px;
}

.mobile-container {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 600px) {
  .mobile-container {
    display: none;
  }
}

.mobile-container > .hero-divider {
  width: 1px;
  height: 70px;
  background: black;
  margin-top: 10px;
}

.mobile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobile-info > h1 {
  margin: 0;
}
