.App-header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 50px;
  padding: 0 10px;
  background: #282c34;
}
@media (min-width: 600px) {
  .App-header {
    height: 66px;
    margin-bottom: 50px;
  }
}

.leftSide,
.rightSide {
  width: 48vw;
}

.App-header > .leftSide > h1 {
  font-size: 1rem;
  text-align: right;
}
@media (min-width: 600px) {
  .App-header > .leftSide > h1 {
    font-size: 2rem;
  }
}

.divider {
  height: 70%;
  width: 1px;
  background: white;
  margin: 0 23px;
}

.App-header > .rightSide > p {
  font-size: 2.6vw;
  text-align: left;
  width: 33vw;
}
@media (min-width: 600px) {
  .App-header > .rightSide > p {
    font-size: 17px;
  }
}
