.city-verification-container {
  width: 300px;
  margin: 10px auto;
}
@media(min-width: 600px) {
  .city-verification-container {
    width: 500px;
  }
}

.status-200 {
  padding: 10px 10px 0 10px;
}
@media(min-width: 600px) {
  .status-200 {
    border: 1px solid white;
  }
}

.status-200 > h2 {
  font-size: 27px;
  width: 160px;
  margin: 0 auto 6px auto;
}

.divider-200 {
  height: 1px;
  width: 80%;
  background: black;
  margin: 0 auto 15px auto;
}

.location-200,
.coords-200 {
  margin: 0;
}

.location-200 {
  font-size: 20px;
  margin-top: 21px;
}

.status-200 > .coords-200 {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 21px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}

.accept-button,
.cancel-button {
  border: 0;
  border-radius: 0 !important;
  font-size: 17px;
  margin: 5px auto;
  box-shadow: 1px 1px 1px;
}

.accept-button {
  width: 90%;
  height: 40px;
  background: #ebebeb;
}

.cancel-button {
  width: 75%;
  background: #ffa1a1;
  height: 35px
}

.status-404 {
  padding: 0 15px;
  border: 1px solid white;
  color: red;
}
