.error-message-container {
  padding: 10px 0;
  width: 80%;
  margin: 10px auto;
  border: 1px solid red;
  border-radius: 4px;
  text-align: center;
  animation: errorShake 0.21s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes errorShake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error-message-container > h3 {
  color: red;
  margin: 0;
}

.error-message-container > p {
  font-size: 12px;
  padding: 0 15px;
}
@media (min-width: 600px) {
  .error-message-container > p {
    font-size: 16px;
  }
}

.error-message-container > .error-code {
  margin-top: 5px;
  font-size: 16px;
}

.error-message-container > .divider {
  height: 1px;
  width: 80%;
  background: white;
  margin: auto;
}
