.forecast-card {
  width: 175px;
  height: 90px;
  color: black;
  background: white;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 20px 20px 0 20px;
  box-shadow: -7px 12px 7px 0 #b2c1d9;
}
@media (min-width: 600px) {
  .forecast-card {
    width: 100px;
    height: 140px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #8a96a8;
    border-top: 0;
    box-shadow: none;
  }
}

.forecast-card > p,
.forecast-card > div > div > p {
  margin: 0;
}

.forecast-card > .date-name {
  font-weight: bold;
  padding: 7px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.forecast-card > .weather {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
}
@media (min-width: 600px) {
  .forecast-card > .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.weather > .divider {
  visibility: visible;
  height: 34px;
  width: 1px;
  background: black;
  margin: 0;
}
@media (min-width: 600px) {
  .weather > .divider {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.forecast-card > div > img {
  width: 33px;
  height: 40px;
}

@media (min-width: 600px) {
  .weather > .high-low-container {
    display: flex;
    font-size: 12px;
    padding-top: 10px;
  }
}

.high-low-container > p {
  font-size: 14px;
}
@media (min-width: 600px) {
  .high-low-container > p {
    width: 36px;
  }
}
