html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 93vh;
  background-size: cover;
  background-color: #cbdcf7;
  background: rgb(203,220,240);
  background: linear-gradient(180deg, rgba(203,220,240,1) 0%, rgba(255,255,255,1) 100%);
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
  padding-bottom: 50px;
}
@media (min-width: 600px) {
  .App-body {
    margin: 0;
  }
}

.App-body > .loading {
  opacity: 0.2;
}

input[type="submit"],
button:hover {
  cursor: pointer;
}

.bubble-container {
  background: white;
  border-radius: 21px 21px 0 21px;
  padding: 25px;
  box-shadow: 10px 10px 7px 0 #b2c1d9;
}

.bubble-container.input-form-container {
  text-align: left;
  margin-bottom: 20px;
}
