html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cbdcf7;
}

.App {
  text-align: center;
  height: 100%;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
@media (min-width: 600px) {
  .App-body {
    margin: 0;
  }
}

.App-body > .loading {
  opacity: 0.2;
}

input[type="submit"],
button:hover {
  cursor: pointer;
}

.bubble-container {
  background: white;
  border-radius: 21px 21px 0 21px;
  padding: 25px;
}

.bubble-container.input-form-container {
  text-align: left;
}
